<%- include('../partials/header') %>

<br>
<h1>Dogs You've Adopted</h1>
<br>
<hr class="hr2">
<br>

<% if(pets.length==0) {%>
<h2>No pets to show</h2>
<%}else{%> 
  <% pets.forEach((pet) => { %>
    <div class="dogs">
      <a href="/pets/show?id=<%= pet.id%>"><img src="<%= pet.image%>"></a>
      <h3><%= pet.name%></h3>
    </div>
    <br>
    <% }) %>
<% } %>

<%- include('../partials/footer') %>