<%- include('../partials/header') %>
<br>
<br>
<h1>Dogs Near you</h1>
<br>
<hr class="hr2">
<br>

<% if(pets.length==0) {%>
<h1>No pets to show</h1>
<%}else{%> 
  <% pets.forEach((pet) => { %>
    <div class="dogs">
      <a href="/pets/show?id=<%= pet.id%>"><img src="<%= pet.image%>"></a>
      
    </div>
    <br>
    
    <h3 class="threeD"><%= pet.name%></h3>
    
    <br>
    <% }) %>
<% } %>
<%- include('../partials/footer') %>